.row
  .span3
    .well
      %legend
        Sponsorship Information
      Sponsor the fifth annual Los Angeles Ruby Conference!  Sponsoring LA Ruby Conf gives you a fantastic opportunity to be in front of and meet with top Ruby talent in the Southern California area as well as the surrounding states.
  .span6
    .well
      #myCarousel.carousel.slide
        .carousel-inner
          .active.item.hp-carousel
            .announcement
              %h2
                Photos from our last conference
                at the Marconi Automotive Museum!
          .item.hp-carousel
            =image_tag("photos/2009/kelli-cadillac-side-view.jpg")
            .caption
              a beautifully restored 1957 Cadillac
          .item.hp-carousel
            =image_tag("photos/2009/flying-robots.jpg")
            .caption
              Ron and Damon Evans presenting their flying robot - Ruby & Arduino
          .item.hp-carousel
            =image_tag("http://placehold.it/600x450")
            .caption
              a gorgeous place holder image from placehold.it
          .item.hp-carousel
            =image_tag("photos/2009/chrysler-pt.jpg")
        %a{:class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"}
          <
        %a{:class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"}
          >
  .span3
    .well
      %legend
        Registration
      Sign up now to be notified when tickets go on sale.