.row
  .span3
    = render :partial => 'sponsors/sponsor_side_rail'
  .span6
    .well
      #myCarousel.carousel.slide
        .carousel-inner
          .active.item.hp-carousel
            .announcement
              %h2
                Photos from our last conference
                at the Marconi Automotive Museum!
          .item.hp-carousel
            =image_tag("photos/2009/kelli-cadillac-side-view.jpg")
            .caption
              a beautifully restored 1957 Cadillac
          .item.hp-carousel
            =image_tag("photos/2009/flying-robots.jpg")
            .caption
              Ron and Damon Evans presenting their flying robot - Ruby & Arduino
          .item.hp-carousel
            =image_tag("http://placehold.it/600x450")
            .caption
              a gorgeous place holder image from placehold.it
          .item.hp-carousel
            =image_tag("photos/2009/chrysler-pt.jpg")
        %a{:class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"}
          <
        %a{:class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"}
          >
  .span3
    .well
      %legend
        Registration
      Sign up now to be notified when tickets go on sale.
  .span6
    .well
      %legend
        News & Announcments
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui lacus, pulvinar sed sagittis vitae, euismod et diam. Phasellus id sem orci, nec pharetra orci. Nulla nibh nibh, tristique vitae faucibus sed, tincidunt quis velit. Aenean ac odio diam. Mauris nec lobortis dui. Suspendisse vitae sem tellus. Mauris lacinia hendrerit justo consectetur eleifend. Aenean porta tellus ut sem vehicula gravida. Etiam euismod, lacus viverra ultrices faucibus, risus odio viverra erat, sit amet porttitor urna nunc quis nisi. Mauris velit nulla, elementum ut aliquam quis, vehicula ullamcorper magna. Etiam cursus, mauris sit amet condimentum fringilla, libero tellus fermentum est, non laoreet augue urna id ante. In ac risus nisi, sit amet malesuada odio.
      %p
        Etiam euismod, felis vitae fermentum placerat, elit eros sodales sapien, eu aliquam ipsum justo non dui. Phasellus ac metus enim, ut suscipit ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce tempus.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui lacus, pulvinar sed sagittis vitae, euismod et diam. Phasellus id sem orci, nec pharetra orci. Nulla nibh nibh, tristique vitae faucibus sed, tincidunt quis velit. Aenean ac odio diam. Mauris nec lobortis dui. Suspendisse vitae sem tellus. Mauris lacinia hendrerit justo consectetur eleifend. Aenean porta tellus ut sem vehicula gravida. Etiam euismod, lacus viverra ultrices faucibus, risus odio viverra erat, sit amet porttitor urna nunc quis nisi. Mauris velit nulla, elementum ut aliquam quis, vehicula ullamcorper magna. Etiam cursus, mauris sit amet condimentum fringilla, libero tellus fermentum est, non laoreet augue urna id ante. In ac risus nisi, sit amet malesuada odio.
      %p
        Etiam euismod, felis vitae fermentum placerat, elit eros sodales sapien, eu aliquam ipsum justo non dui. Phasellus ac metus enim, ut suscipit ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce tempus.
