.row
  .span3
    = render :partial => 'sponsors/sponsor_side_rail'
  .span6
    .well
      %legend
        Recent News & Announcements
        =link_to "(all)", news_items_path
      =render :partial => "news_item", :collection => @news_items

  .span3
    .well
      %legend
        Registration
      Tickets will be available soon!
      %p
        -if false
          = link_to 'https://larubyconf.eventwax.com/los-angeles-ruby-conference-2013/register', :target => "_blank" do
            .center
              .btn.btn-danger
                Purchase Ticket(s)
