.row
  .span3
    = render :partial => 'sponsors/sponsor_side_rail'
  .span6
    .well
      #myCarousel.carousel.slide
        .carousel-inner
          .active.item.hp-carousel
            .announcement
              %h3
                Photos from the first 
              %h2
                LA Ruby Conf
              %h3
                held in 2009 at the
              %h2
                Marconi Automotive Museum!
          = render :partial => 'item', :collection => @photos
        %a{:class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"}
          <
        %a{:class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"}
          >
    .well
      %legend
        Recent News & Announcements
        =link_to "(all)", news_items_path
      =render :partial => "news_item", :collection => @news_items
  .span3
    .well
      %legend
        Registration
      =link_to 'Register', new_user_registration_path
      and we will email you when tickets go on sale.

