.row
  .span12
    .page-title
      Thank You!
.row
  .span1
    &nbsp;
  .span10
    .well
      %p
        Thank you for registering for the conference and or workshops!
      %p
        We look forward to seeing you in Burbank on the 21st and 22nd if you signed up for workshops, and in Tustin on the 23rd for the conference!
      %p
        Please contact us at
        = link_to 'staff@larubyconf.com', 'mailto:staff@larubyconf.com'
        if you have any questions!
      %p
        Sincerely,
      %p
        Coby, JR, and Connie