.well
  .workshop
    .name
      =workshop.name
    .presented
      =workshop.presented_at.strftime("%B %d, %Y @ %I:%M:%S %p %Z")
    .presenters
      Presenter's name and links
    .abstract
      =workshop.abstract