.navbar
  .navbar-inner
    .container.nav-collapse
      %ul.nav.custom
        %li.divider
          =link_to 'R Admin', '/radmin'
        %li
          =link_to 'News Items', admin_news_items_path
        %li
          =link_to 'Photos', admin_photos_path
        %li
          =link_to 'Sponsors', admin_sponsors_path