%tr
  %td
    = display_start_time presentation
  %td
    = link_to_presentation presentation
  %td
    = raw(presentation.speakers.map { |speaker| link_to speaker.full_name, speaker_path(speaker) }.join(", "))
