%footer
  .row
    .span4
      Follow us on Twitter 
      = link_to '@larubyconf', "http://twitter.com/larubyconf", :target => "_blank"
    .span4.center
      &copy; TechConf, LLC 2009-2012
    .span4
      .pull-right
        %ul.nav.nav-pills
          %li
            =link_to "Privacy Policy", privacy_path
