%footer
  .row
    .span4
      = render :partial => 'shared/google_plus_one'    
      %br
      = render :partial => 'shared/twitter_follow_button', :locals => {:twitter => '@larubyconf' }

    .span4.center
      = raw("&copy; TechConf, LLC 2009-#{Time.now.strftime("%Y")}")
    .span4
      .pull-right
        %ul.nav.nav-pills
          %li
            =link_to "Privacy Policy", privacy_path

