%header
  .row
    .span3
      .well.center.blue
        The fifth annual Conference will be
        .dates 
          February 23, 2013
        Workshops will be held
        .dates
          February 21 and 22
    .span6
      %a.brand(href="/")
        %title
          LA Ruby Conf 2013
    .span3
      .well.center.blue
        Early Bird Pricing!
        .dates
          ends February 1, 2013
        $199.00 for the Conference
        .dates
          Workshops are $149.00
        until they are full!
= render :partial => 'shared/navigation'