.sponsor-list
  .sponsor
    .logo
      -unless sponsor.logo_file_name.nil?
        =sponsor_link sponsor, :medium
      -else
        =link_to sponsor.name, click_path(sponsor)
      - if sponsor.twitter_handle
        = render :partial => 'shared/twitter_follow_button', :locals => {:twitter => sponsor.twitter_handle}
    .message
      =Haml::Engine.new(sponsor.message).render
  .clear