-if @current_level != sponsor.level
  -@current_level = sponsor.level
  %h2
    = display_level sponsor.level
.sponsor
  -if current_user && (current_user == sponsor.primary_contact)
    = link_to edit_sponsor_path(sponsor) do
      %i.icon-pencil.pull-right
  -if current_user && current_user.admin?
    = link_to edit_admin_sponsor_path(sponsor) do
      %i.icon-pencil.pull-right
  -if sponsor.logo_file_name
    .logo    
      =sponsor_link sponsor
  -else
    .name
      = sponsor.name
  