.row
  .span1
    &nbsp;
  .span10
    .page-title
      Sponsors
.row
  .span1
    &nbsp;
  .span10
    .well
      .introduction
        %p
          By becoming a sponsor of the Los Angeles Ruby Conference you are able to get your company name and your commitment to the open source community out in front of 180+ software engineers, system administrators, and other IT professionals.
        %p
          For more information about sponsoring the 2013 Los Angeles Ruby Conference you can download the
          =link_to "Sponsorship Prospectus", sponsorship-prospectus.pdf', :target => "_blank"
          and then contact us directly at
          =link_to "staff@larubyconf.com", "mailto:staff@larubyconf.com"
.row
  .span1
    &nbsp;
  .span10
    -Sponsor::LEVELS.each do |level|
      -sponsors = Sponsor.level(level)
      -unless sponsors.count ==0
        .well
          %legend
            =display_level level
          =render :partial => 'sponsor', :collection => Sponsor.level(level)