.row
  .span1
    &nbsp;
  .span10
    .page-title
      Sponsors
.row
  .span1
    &nbsp;
  .span10
    .well
      .introduction
        %p
          With out the continued support of the companies below the Los Angeles Ruby Conference would not be the quality it is today.  Take a moment and visit each of their sites, see what they have to offer, or if they could be the place you land your next gig!
      %p
        By becoming a sponsor of the Los Angeles Ruby Conference you are able to get your company name and your commitment to the open source community out in front of 180+ software engineers, system administrators, and other IT professionals.
      %p
        For more information about sponsoring the Los Angeles Ruby Conference you can download the
        =link_to "Sponsorship Prospectus", '/media/2014-sponsorship-prospectus.pdf', :target => "_blank"
        and then contact us directly at
        =link_to "staff@larubyconf.com", "mailto:staff@larubyconf.com"
.row
  .span1
    &nbsp;
  .span10
    -Sponsor::LEVELS.each do |level|
      -sponsors = Sponsor.level(level)
      -unless sponsors.count ==0
        .well
          %legend
            =display_level level
          =render :partial => 'sponsor', :collection => Sponsor.level(level)