.well
  .sub-title
    Conference - Venue
  .center
    Saturday, February 23, 2013
  .venue
    .introduction
      We are proud to announce that we are holding the 2013 Los Angeles Ruby Conference at the Marconi Automotive Museum in Tustin, California.
    .center
      = image_tag('venues/marconi-logo.png', :class => "center")
    %ul
      %li
        %h4
          =link_to "Marconi Automotive Museum", "http://www.marconimuseum.org/", :target => "_blank"
      %li 
        1302 Industrial Drive
      %li
        Tustin, California 92780
    %h4
      Directions
    %p
      If you are flying in for just the Conference then the John Wayne / Orange County Airport is your best bet.  It is roughly six miles from the Marconi Automotive Museum.
    %p
      If you are coming in for both the workshops and the conference you may want to look into a multi-city flight.  Fly into Bob Hope International Airport (BUR) and fly out of the John Wayne / Orange County Airport (SNA).
    %P
      As for details on directions getting to the Marconi Automotive Museum we recommend google maps with the address above.
  .clear