.well
  .sub-title
    Workshop - Venue
  .center
    Thursday and Friday, February 21 and 22, 2013
  .venue
    .introduction
      The venue that we have selected for the workshops is the Holiday Inn Media Center in Burbank, California.
    %p
      = image_tag('venues/burbank-holiday-inn.jpg')      
    %ul
      %li
        %h4
          Burbank Holiday Inn Media Center 
      %li
        150 East Angelino 
      %li
        Burbank, CA 91502 United States
      %li.spacer
        Reservations: 1-877-863-4780 
      %li
        Front Desk: 1-818-841-4770 
      %li
        Fax: 1-818-566-7880
    %h4
      Directions
    %p
      If you are flying to Southern California to attend the workshops we recommend flying into Bob Hope International Airport(BUR) in Burbank. It is located less than five miles from the Holiday Inn Media Center.  If you fly into LAX then we recommend catching an express shuttle from the airport to the hotel, a cab ride will cost $85.00 or more depending on traffic.
    %p
      See the information about the conference Venue to the right.  It is an hour or more drive from the Workshop Venue to the Conference Venue.
    .clear