=form_for [:admin, @sponsor], :html => { :class => 'form-horizontal', :multipart => true } do |f|
  %legend
    .pull-right
      %button.btn.btn-primary{:type => 'submit'}
        Save Changes
      =link_to 'Cancel', root_path, :class => 'btn'
    Sponsor Information
  .fieldset
    .control-group
      =f.label :name, :class => 'control-label'
      .controls
        =f.text_field :name
    .control-group
      =f.label :level, :class => 'control-label'
      .controls
        =collection_select :sponsor, :level, Sponsor.levels, :to_s, :to_s
    .control-group
      =f.label :logo, :class => 'control-label'
      .controls
        =f.file_field :logo
    .control-group
      =f.label :url, :class => 'control-label'
      .controls
        =f.text_field :url
    .control-group
      =f.label :message, :class => 'control-label'
      .controls
        =f.text_area :message, :rows => 5
    .control-group
      =f.label :sponsored_at, :class => 'control-label'
      .controls
        =f.text_field :sponsored_at, "data-behaviour" => "datepicker"
    .control-group
      =f.label :twitter_handle, :class => 'control-label'
      .controls
        =f.text_field :twitter_handle