.row
  .span12
    .well
      %legend
        Sponsors
      %table#sponsors.table.table-striped
        %thead
          %tr
            %th
              Level
            %th
              Name
            %th
              Sponsor Date
            %th
              Actions
        %tbody
          = render :partial => 'sponsor', :collection => @sponsors