-content_for :admin_nav do
  .row
    .span12
      = render :partial => 'admin/admin_navigation'
.row
  .span12
    .well
      =link_to 'Add Sponsor', new_admin_sponsor_path, :class => 'btn pull-right btn-primary'
      %legend
        Sponsors
      %table#sponsors.table.table-striped
        %thead
          %tr
            %th
              Level
            %th
              Name
            %th
              Sponsor Date
            %th
              Actions
        %tbody
          = render :partial => 'sponsor', :collection => @sponsors