=form_for [:admin, @news_item], :html => { :class => 'horizontal-form', :multipart => true} do |f|
  %legend
    .pull-right
      %button.btn.btn-primary{:type => 'submit'}
        Save Changes
      = link_to 'Cancel', admin_news_items_path, :class => 'btn'
    News Item
  .fieldset
    .control-group
      =f.label :headline, :class => 'control-label'
      .controls
        =f.text_field :headline, :class => 'wide'
    .control-group
      =f.label :body, :class => 'control-label'
      .controls
        =f.text_area :body, :class => 'wide', :rows => 5
    .control-group
      =f.label :display_date, :class => 'control-label'
      .controls
        =f.text_field :display_date, "data-behaviour" => "datepicker"
    .control-group
      =f.label :expire_date, :class => 'control-label'
      .controls
        =f.text_field :expire_date, "data-behaviour" => "datepicker"