%tr
  %td
    =news_item.headline
  %td
    =raw(news_item.body)
  %td
    =news_item.display_date
  %td
    =news_item.expire_date
  %td
    =news_item.user.try(:email)
  %td.center
    =link_to edit_admin_news_item_path(news_item) do
      %i.icon-pencil
    =link_to admin_news_item_path(news_item), :method => :delete do
      %i.icon-trash