%tr
  %td
    =news_item.headline
  %td
    =raw(news_item.body)
  %td
    =news_item.display_date
  %td
    =news_item.expire_date
  %td
    =news_item.user.try(:email)
  %td
    =link_to 'edit', edit_admin_news_item_path(news_item)
    =link_to 'delete', admin_news_item_path(news_item), :method => :delete