.speaker
  .photo
    =image_tag presenter.photo.url(:medium)
    .caption
      =link_to presenter.full_name, speaker_path(presenter)
  .bio
    =Haml::Engine.new(presenter.bio).render unless presenter.bio.nil?
.clear