.well
  .proposal
    .actions.pull-right
      -if proposal.user == current_user
        =link_to edit_proposal_path(proposal) do
          %i.icon-pencil 
            edit
        %br
        =link_to proposal_path(proposal), :method => :delete do
          %i.icon-trash 
            delete
    .title
      =link_to proposal.title, proposal_path(proposal)
    .abstract
      =proposal.abstract
    .date
      Submitted:
      = proposal.created_at.strftime("%B %d, %Y @ %H:%M:%S %P %Z")
    .actions    
      Votes: 
      =proposal.votes.count
      - if current_user
        - if current_user.proposals_voted_for.include?(proposal)
          = link_to "Remove your vote", down_my_account_proposal_votes_path(proposal)
        - else
          = link_to 'Vote', up_my_account_proposal_votes_path(proposal)