.well
  .proposal
    .actions.pull-right
      -if current_user && proposal.user == current_user
        = link_to edit_proposal_path(proposal) do
          %i.icon-pencil 
            edit
        %br
        = link_to proposal_path(proposal), :method => :delete do
          %i.icon-trash 
            delete
    .title
      =link_to proposal.title, proposal_path(proposal)
    .abstract
      =proposal.abstract
    .date
      Submitted:
      = proposal.created_at.strftime("%B %d, %Y @ %H:%M:%S %P %Z")
    .actions    
      Votes: 
      =proposal.votes.count
      = render :partial => 'shared/vote', :locals => { :proposal => proposal}