.row
  .span3
    &nbsp;
  .span9
    .page-title
      Proposals  
.row
  .span3
    = render :partial => 'sponsors/sponsor_side_rail'
  .span9
    .well
      .introduction
        %h2.center
          Voting for proposals is now open!
        %p.center
          = number_with_delimiter(Vote.all.count)
          votes cast to date, max 5 votes per user.
          
        - if current_user
          %p.center
            You have
            =pluralize(current_user.votes_left, "vote")
            remaining to cast.
          
    = render :partial => 'proposal', :collection => @proposals