.row
  .span12
    .page-title
      Proposals
.row
  .span1
    &nbsp;
  .span10
    .well
      .introduction
        The Call for Proposals has closed, thank you for all of your submissions.
    = render :partial => 'proposal', :collection => @proposals