.row
  .span12
    .page-title
      Proposals  
.row
  .span1
    &nbsp;
  .span10
    .well
      .introduction
        %p
          Voting for proposals is now open!
        - if current_user
          %p.center
            You have
            =pluralize(current_user.votes_left, "vote")
            remaining to cast.
          
    = render :partial => 'proposal', :collection => @proposals