body {
    background: url(/assets/seamless_white_background_texture.jpg) repeat;
    background-size: 120px;
}

.navbar .nav.custom > li > a:hover {
    color: black;
    
}

.brand {
    width: 100%;
    height: 200px;
    background: url(/assets/larubyconf-logo.png) no-repeat center;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;

}

.notice {
    font-style: italic;
}

.brand title {
    display: none;
}

.well {
  background-color: #f9f9f9;
  border: 2px solid #DDD;
}

.well.blue{
    border: #0e2647 2px solid;
    background-color: #f9f9f9;
    font-size: 13px;
}

.divider a{
    border-right: 1px solid #0e2647;
}

header .well.blue {
    height: 100px;
}

.narrow {
    padding-left: 100px;
    padding-right: 100px;
}

.dates {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.5em;
}

.navbar-inner {
  background-color: #dedede; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(bottom, #dedede, white);
  background-image: -ms-linear-gradient(bottom, #dedede, white);
  background-image: -webkit-linear-gradient(bottom, #dedede, white);
  background-image: -o-linear-gradient(bottom, #dedede, white);
  background-image: linear-gradient(bottom, #dedede, white);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='white', GradientType=0);
}

.navbar .nav > li > a {
  text-shadow: none;
  padding: 9px 10px 11px;
  font-size: 13px;
  line-height: 19px;
  color: #555;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .brand {
        background-size: 200px;
        height: 130px;
        margin-top: -20px;
    }
    .announcement h1 {
        font-size: 3.5em;
        padding: 2px;
    }

    .announcement h2 {
        font-size: 1.5em;
        padding: 2px;
    }

    .annoucement h3 {
        font-size: 18px;
        line-height: 1.5em;
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
    .brand {
        background-size: 250px;
        margin-top: 10px;
        height: 140px;
    }
    .announcement h1 {
        font-size: 5.5em;
        padding: 10px;
    }

    .announcement h2 {
        font-size: 2em;
        padding: 10px;
    }
    .dates {
        font-size: 1em;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .brand {
        background-size: 405px;
        margin-top: 10px;
    }
    .dates {
        font-size: 1em;
    }
 }

/* Large desktop */
@media (min-width: 1200px) {}
