// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.announcement {
    h1 {
        font-size: 8em;
        line-height: 1em;
        padding: 40px;
    }

    h2 {
        font-size: 2.8em;
        padding: 30px;
        line-height: 1em;
        color: #9b0008;
    }
    text-align: center;
}

.center {
    text-align: center;
}

.sponsor {
         margin-bottom: 10px;
         .logo {
            text-align: center;
            img {
              border: 0;
            }
         }
         .message {
           font-size: 1em;
         }
         .name {
           text-align: center;
           font-size: 1.2em;
         }
}

.sponsor-list {
  .sponsor {
    .logo {
      float: left;
      width: 180px;
      margin-bottom: 10px;
    }
    .message {
      float: left;
      width: 680px;
      margin-bottom: 10px;
    }
  }
}

.clear {
       clear: both;
}

.page-title {
  text-align: center;
  font-size: 4em;
  line-height: 1.5em;
}

.sub-title {
  text-align: center;
  font-size: 3em;
  line-height: 1.5em;
  color: #9b0008;
}

.introduction {
  font-size: 1.4em;
  line-height: 1.2em;
}

.news_item {
  .headline {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #9b0008;
    margin-bottom: 5px;
    margin-top: 10px;
    a {
        color: #9b0008;
    }
  }
  .small-print {
      text-align: right;
      font-size: .75em;
  }

  .byline {
    color: #0e2647;
    font-style: italic;
    margin-left: 5px;
  }
  .body {
    margin-left: 5px;
    margin-top: 8px; 
  }
}

.hp-carousel {
    height: 480px;
    font-size: 1.4em;
}

.hp-carousel img {
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

.hp-carousel .caption {
    text-align: center;
}

.horizontal-form {
    input.wide {
        width: 420px;
    }
    textarea.wide {
        width: 420px;
    }
}

.workshop {
    .name {
        font-size: 2em;
        color: #9b0008;
        line-height: 1.2em;
    }
    .presented {
        color: #0e2647;
        font-style: italic;
        margin-left: 5px;
    }
}

.offset {
    margin: 10px;
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 210px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.inner {
    margin-bottom: 0px;
    margin-top: 10px;
}

#error_explanation {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: pink;
    border: 3px red solid;
    padding: 5px;
    margin-bottom: 5px;
    h2 {
        font-size: 1.3em;
    }
    ul {
        li {
            font-size: 1.3 em;
        }
    }
}

.controls.display {
    padding-top: 5px;
}

th.center {
    text-align: center;
}

td.center {
    text-align: center;
}

td.center i.icon-pencil {
    padding-right: 5px;
}

a {
    color: #9b0008;
}

.large-stat {
    text-align: center;
    font-size: 4em;
    line-height: 1em;
}

.stat {
    text-align: center;
    font-size: 2em;
    line-height: 2em;
}


.proposal {
    .title {
        font-size: 1.4em;
        color: #9b0008;
    }
    .abstract {
        font-size: 1.0em;
    }
    .date {
        font-size: 1.0em;
        font-style: italic;
    }
}

.venue {
    margin-top: 10px;
    p {
        img {
            float: left;
            padding: 10px 10px 0px 0px;
        }
    }
    ul {
        margin-left: 0px;
        list-style-type: none;
    }
}

.spacer {
    padding-top: 10px;
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
