// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.announcement {
    h1 {
        font-size: 8em;
        line-height: 1em;
        padding: 40px;
    }

    h2 {
        font-size: 3em;
        padding: 30px;
    }
    text-align: center;
}

.center {
    text-align: center;
}