// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.announcement {
    h1 {
        font-size: 8em;
        line-height: 1em;
        padding: 40px;
    }

    h2 {
        font-size: 2.8em;
        padding: 30px;
        line-height: 1em;
        color: #9b0008;
    }
    text-align: center;
}

.center {
    text-align: center;
}

.sponsor {
         margin-bottom: 10px;
         .logo {
            text-align: center;
            img {
              border: 0;
            }
         }
         .message {
           font-size: 1em;
         }
         .name {
           text-align: center;
           font-size: 1.2em;
         }
}

.sponsor-list {
  .sponsor {
    .logo {
      float: left;
      width: 180px;
      margin-bottom: 10px;
    }
    .message {
      float: left;
      width: 680px;
      margin-bottom: 10px;
    }
  }
}

.clear {
       clear: both;
}

.page-title {
  text-align: center;
  font-size: 4em;
  line-height: 1.5em;
}

.sub-title {
  text-align: center;
  font-size: 3em;
  line-height: 1.5em;
  color: #9b0008;
}

.introduction {
  font-size: 1.4em;
  line-height: 1.2em;
}

.news_item {
  .headline {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #9b0008;
    margin-bottom: 5px;
  }
  .byline {
    color: #0e2647;
    font-style: italic;
    margin-left: 5px;
  }
  .body {
    margin-left: 5px;
    margin-top: 8px; 
  }
}