// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.proposal {
    .title {
        font-size: 1.4em;
        color: #9b0008;
    }
    .abstract {
        font-size: 1.0em;
    }
}