.row
  .span12
    = render :partial => 'admin/admin_navigation'
    .well
      %legend
        = link_to 'Add User', new_admin_user_path, :class => 'btn pull-right btn-primary'
        Users
      %table#users.table.table-striped.display
        %thead
          %tr
            %th
              Email
            %th
              Authentications
            %th
              Actions
        %tbody
          = render :partial => 'user', :collection => @users