.row
  .span12
    .page-title
      Speakers
.row
  .span1
    &nbsp;
  .span10
    .well
      .introduction
        %p
          Speakers will be announced as they are confirmed, follow
          =link_to '@larubyconf', "http://twitter.com/larubyconf", :target => '_blank'
          on twitter for the latest announcements.